@use "../../sassStyles/mixins" as *;

.cartShop {
  &__container {
    position: relative;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    &:hover {
      background-color: #edf1f4;
    }
  }
  &__icon {
    height: 24px;
    width: 24px;
    @include lgMinBreakPoint {
      height: 30px;
      width: 30px;
    }
  }
  &__counter {
    position: absolute;
    top: 7px;
    right: 7px;
    @include lgMinBreakPoint {
      top: 5px;
      right: 5px;
    }
    background-color: #0ea5e9;
    font-size: 10px;
    color: #fff;
    border-radius: 50%;
    padding: 1px 5px;
  }
}
