// Screen sizes
$screen-sm: 358px;
$screen-md: 640px;
$screen-lg: 768px;
$screen-xl: 1024px;
$screen-xxl: 1280px;
$screen-full: 1536px;

// Colors
$textColor: #111827;
$textLight1Color: #6B7280;

$backGroundColor:#F8FAFC;

$primaryDark1Color: #004C3F;
$primaryDark2Color: #002e25;
$primaryColor: #0F172A;
$primaryLight1Color: #C1F0D0;
$primaryLight2Color: #EFFCFA;

$secondaryColor: #906509;
$secondaryLight1Color: #FBF7ED;
$secondaryLight2Color: #FFF8F6;
$secondaryLight3Color: #E2E6DC;
$secondaryLight4Color: #EDE8DB;

$warningColor: #C43256;
$warningLight1Color: #c432571f;